<nav class="navbar navbar-expand-lg border-bottom border-body" style="background-color: #9b2247;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'principal' %}"><i class="bi bi-capsule-pill me-1"></i>Gestor de recetas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_pacientes' %}">Pacientes</a>
        </li>
      </ul>
      {% if perms.recetas.add_receta %}
      <a href="{% url 'nueva_receta' %}" class="btn btn-success" role="button">Nueva receta</a>
      {% endif %}
    </div>
  </div>
</nav>